<section id="about">
	<h3 id="about-me">About</h3>

	<div class="face-lockup">
		<div class="icon-pencil">
			<span class="fa-stack fa-3x">
			  <i class="fa fa-pencil fa-stack-1x"></i>
			 </span>
		</div>
		<div class="icon-keyboard">
			<span class="fa-stack fa-3x">
			  <i class="fa fa-keyboard-o fa-stack-1x"></i>
			 </span>
		</div>

		<div class="face-img"><img ng-src="{{myConfig.faceImageUrl}}"></div>

		<div class="icon-brower">
			<span class="fa-stack fa-3x">
				  <i class="fa fa-cog fa-stack-1x"></i>
			 </span>
		</div>
		<div class="icon-video">
			<span class="fa-stack fa-3x">
				  <i class="fa fa-camera-retro fa-stack-1x"></i>
			</span>
		</div>
	</div>

	<p id="myself"><strong>This website is based on the angularJs framework, together with HTML5, CSS3, JavaScript, AJAX, JSON, Bootstrap, SASS, Bourbon and Font-awesome library. The code can be seemed as some simple samples in using those front end technologies. The code of this website is managed with Github and can be download from <a href="https://github.com/kevinchen278/kevinchen">the Github repository</a>. Bower and Gulp are used for package and task management.</p>

	<div class="skill-lockup">
		<div class="skill-unit">
			<div class="skill-label">Front End Developing</div>
			<div class="skill-icons skill-7">
				<span></span><span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span><span></span>
			</div>
		</div>
		<div class="skill-unit">
			<div class="skill-label">UI Designing</div>
			<div class="skill-icons  skill-6" >
				<span></span><span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span><span></span>
			</div>
		</div>
		<div class="skill-unit">
			<div class="skill-label">Learning</div>
			<div class="skill-icons skill-8">
				<span></span><span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span><span></span>
			</div>
		</div>
		<div class="skill-unit">
			<div class="skill-label">Communication</div>
			<div class="skill-icons skill-5">
				<span></span><span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span><span></span>
			</div>
		</div>
	</div>	

</section>

