<section class="alt-section section-contact">
  
  <h3 id="contact">Contact</h3>

  <div class="social-links">
          <a href="https://www.facebook.com/profile.php?id=100009494139522" class="icon-twitter"><i class="fa fa-2x fa-facebook facebook"></i></a>
          <a href="https://twitter.com/kevinchen278"><i class="fa fa-2x fa-twitter twitter"></i></a>
          <a href="mailto:kevin.chen278@gmail.com"><i class="fa fa-2x fa-envelope-o"></i></a>
          <a href="https://www.linkedin.com/in/kevinchen278"><i class="fa fa-2x fa-linkedin linkedin"></i></a>
          <a href="https://plus.google.com/u/0/101538881301987672001/"><i class="fa fa-2x fa-google-plus google-plus"></i></a> 

  </div>

  <hr class="bar">
  
  <a class="emailLink" href="mailto:kevin.chen278@gmail.com">kevin.chen278@gmail.com</a>
  <!-- <p class="phoneLink"><i class='fa fa-phone fa-lg'></i>(609)-Three Five Eight - Four One Seven Eight</p>
   -->
</section>