<section  id='resume' ng-controller="InfoCtrl">  
  	<div id='sidebar'>
  		<h3>Resume</h3>
      <ul>
        <li><a href="/#/resume#kevinchen" scrollTo="kevinchen">Kevin Chen</a></li>
        <li><a href="#/resume#summary" scrollTo="summary">Summary</a></li>
        <li><a href="#/resume#skill" scrollTo="skill">Skills</a></li>
        <li><a href="#/resume#experience" scrollTo="experience">Experiences</a></li>
        <li><a href="#/resume#education" scrollTo="education">Education</a></li>
      </ul>
  	</div>   
  
  	<div id="content">
      <div id="resume">
          <section id="kevinchen" >
                    <h3>Kevin Chen</h3>
                    <h4>Location:{{data[0].location}}</h4>
                    <h4>Tel: {{data[0].tel}}</h4>
                    <h4>Email: {{data[0].email}}</h4>
                    <h4>Visa Status: {{data[0]["visa status"]}}</h4>
                    <h4>Focused on: {{data[0]["focused on"]}}</h4>
          </section> 

          <section id='summary'>
                    <h3>SUMMARY</h3>

                    <ul>
                        <li>7 years experiences in software development career. Strong object oriented design principals and knowledge of design patterns.</li>
                        <li>About 5 years experiences in Front-end application development using HTML/HTML5, CSS/CSS3, JavaScript, jQuery, AJAX and JSON.</li>
                        <li>Experienced in MVC (Model View Controller) framework such as AngularJS.</li>
                        <li>Experienced in Twitter Bootstrap framework to build responsive website for both desktop and mobile browser users.</li>
                        <li>Experienced in CSS3 preprocessors styling Sass/Less together with Scout, Compass and LiveReload.</li>
                        <li>Experienced in unit test using jasmine on Karma, and End2End testing using protractor and http-server.</li>
                        <li>Experienced in version control tools GIT and SVN.</li>
                        <li>Experienced in using npm, Bower and Grunt for packages and project tasks management.</li>
                        <li>Knowledge in using cross browser compatibility tools and worked on different browsers like Google Chrome, Internet Explorer, Safari and Mozilla Firefox.</li>
                        <li>Strong trouble-shooting, well organizing, hard working and attentive to details.</li>
                        <li>Capable of quickly adjusting to new environments, as well as learning and applying new technologies.</li>
                         
                     </ul>
          </section>

          <section id='skill'>
              <h3> TECHNICAL SKILL</h3>

              <table align="center">
                <tr>
                  <td>  Development Technologies</td>
                  <td> HTML/HTML5, CSS/CSS3, JavaScript, jQuery, DOM, JSON, AJAX, Sass</td>
                </tr>
                <tr>
                  <td>Framework</td>
                  <td>Bootstrap, AngularJS, Compass.</td>
                </tr>

                <tr>
                  <td>Development Tools</td>
                  <td>NetBeans, Sublime, Eclipse.</td>
                </tr>

                <tr>
                  <td>Testing Tools</td>
                  <td>Karma, Jasmine, Protractor, Http-server</td>
                </tr>

                <tr>
                  <td>Version Control</td>
                  <td>Tortoise SVN, Git</td>
                </tr>

                <tr>
                  <td>Package Management Tools</td>
                  <td>npm, Bower, Grunt, Gulp</td>
                </tr>

                <tr>
                  <td>Operating System</td>
                  <td>MS windows, Mac OS X, Linux</td>
                </tr>

                <tr>
                  <td>Others</td>
                  <td>MySQL, MS SQL Server, Oracle, Java, Spring MVC, Hibernate, JSF, Linux bash script, JIRA</td>
                </tr>
              </table>
            </section>

           <section id='experience'>
  
               <h3>PROFESSIONAL EXPERIENCE</h3>

              <article>
                  <h5><strong>Client:  Inpensa Inc, North Brunswick,NJ</strong></h5>
                  <h5>Period:  9/2014 ~ present </p></h5>
                  <h5>Project:  Enterprise Business Value Management</h5>
                  <h5>Role: Front-End developer</h5>
                  <h5>Responsibilities:</h5>
                  <ul>
                    <li>Developed and implemented efficient, flexible and reusable user interface components using object-oriented JavaScript, HTML/HTML5, CSS/CSS3.</li>
                    <li>Used JSON and AJAX to communicate with server.</li>
                    <li>Used AngularJS framework for UI development.</li>
                    <li>Use jqGrid and Handsontable for data edit and display.</li>
                    <li>Use Actuate BIRT for report design.</li>
                    <li>Worked with source version control tool SVN to manage the code repository, and used JIRA for issue tracking.</li>
                    <li>Used Bower and Grunt for packages and project task management.</li>
                  </ul>
                  <h5>Environment:</h5>
                     <p><strong>HTML5, CSS3, JavaScript, jQuery, AngularJS, JSON, AJAX, Handsontable, Bootstrap, Grunt, Karma, Bower, JIRA.</strong></p>
                   
                  <h5>Client:  Mizu LLC, West Windsor, NJ</h5> 
                  <h5>Period: 6/2014 ~ 9/2014</h5>
                  <h5>Project:  Restaurant Information Management System</h5>
                  <h5>Role: Web Application Developer</h5>
                  <h5>Responsibilities:</h5>
                  <ul>
                    <li>Developed the web application with AngularJs framework, together with JavaScript, HTML/HTML5, CSS/CSS3 and jQuery.</li>
                    <li>Applied JSON and AJAX to communicate with server.</li>
                    <li>Created CSS/CSS3 by using SASS language with Scout.</li>
                    <li>Developed and performed test cases using jasmine and Karma in the unit test, and used the protractor and Http-server for the End2End testing.</li>
                  </ul>
                  <h5>Environment:</h5>
                    <p>HTML5, CSS3, JavaScript, jQuery, JSON, AJAX, AngularJS, Bootstrap, Git, SASS, Grunt, Bower.</p>
              </article>
            
              <article>
                  <h5>Client:  ECE, New Jersey Institute of Technology, Newark, NJ</h5>
                  <h5>Period: 9/2013 ~ 5/2014</h5>
                  <h5>Role:   Web developer</h5>
                  <h5>Responsibilities:</h5>
                  <ul>
                    <li>Developed the web application with AngularJs framework, together with JavaScript, HTML/HTML5, CSS/CSS3 and jQuery.</li>
                    <li>Used SASS and Scout for creating CSS/CSS3.</li>
                    <li>Applied JSON and AJAX to communicate with server.</li>
                  </ul>
              </article>

              <article> 
                  <h5>Client: Fujian Digital Creative Information Technology Co., LTD, China.</h5>
                  <h5>Period: 5/2012 ~ 7/2013</h5>
                  <h5>Role:  Senior Web Application Developer</h5>
                  <h5>Responsibilities:</h5>
                  <ul>
                    <li>Analyzed Front-End business requirements, components and generate Project Plan Documentation based on the clients demand.</li>
                    <li>Implemented MVC pattern of AngularJS framework to develop Single Page Application.</li>
                    <li>Used HTML5 to create html pages, and SASS and Scout to generate css3.</li>
                    <li>Applied responsive webpage that fits all users and difference devices using BootStrap.</li>
                    <li>Used JavaScript, jQuery and underscore in web application developing. And also applied AJAX and JSON to communicate with server.</li>
                    <li>Performed test cases using jasmine and Karma, and used Protractor for End2End test.</li>
                  </ul>
              </article>

              <article>
               
                    <h5>Client: Fuzhou Huihong Information Technology Co.,LTD, China.</h5>
                    <h5>Period:  2/2010 ~ 8/2011</h5>
                    <h5>Role:  Senior Web Application Developer</h5>
                    <h5>Responsibilities:</h5>
                    <ul>
                      <li>Created requirement analysis, design, coding using JavaScript, jQuery, HTML5, CSS3 in sublime editor.</li>
                      <li>Used JSF framework, Java bean to enhance application capability.</li>
                      <li>Used HTML, CSS for building page layout as well as JavaScript and jQuery library for additional feature.</li>
                      <li>Applied AJAX and JSON in communicating with server.</li>
                    </ul>
              </article>

              <article>
                    <h5>Client: Fuzhou Jitong Information Technology Co., LTD, China.</h5>
                    <h5>Period: 11/2007 ~ 1/2010</h5>
                    <h5>Role:    Software Developer</h5>
                    <ul>
                      <li>Understanding of UML class and sequence diagrams to implement the business logic.</li>
                      <li>Worked with Spring MVC framework, Applied Hibernate for database access.</li>
                      <li>Developed the front-end framework using Swing and AWT.</li>
                      <li>Involved in the development of various screen using swing components like JTabbedPanels, JDialog, JFrames and JMenu.</li>
                      <li>Developed entity beans for transactions using EJB. Used Maven as build and configuration Tool.</li>
                    </ul>
              </article>
          </section>

          <section id='education'>
              <h3>EDUCATION</h3>
              <p>
                M.S. Degree, Mathematics and Computer, Fujian Normal University, China, 2007.
              </p>
              <br>
              <br>

          </section>
        </div>
   </div>

    <div id="sidebar-resizer" 
      resizer="vertical" 
      resizer-width="6" 
      resizer-left="#sidebar" 
      resizer-right="#content"
      resizer-max="400"
      resizer-min="200">
    </div>

</section>


