<section id="tech">
	<article id="example1">
	<ul>
		<li><h4>How to Create a Simple jQuery Plugin</h4></li>
	</ul>
    <div id='slide' ></div>    
    
	    <script src="js/slide.js"></script>  
	    <script>
	        $(function(){
	            $('#slide').slide({
	                    width   : '300px',
	                    height  : '300px',
	                    imgUrls : ['http://placekitten.com/601/300',
	                              'http://placekitten.com/602/300',
	                              'http://placekitten.com/603/300',
	                              'http://placekitten.com/604/300',
	                              'http://placekitten.com/605/300',
	                              'http://placekitten.com/606/300',
	                              'http://placekitten.com/607/300',
	                              ]
	                });
	        });    
	    </script>

	</article>

</section>