<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Test</title>
  <base href="http://localhost:3000/">


<style type="text/css">
body {
  position: relative;
}

  header {
    position: fixed;
    top: 10px;
    width: 100%;
    background-color: yellow;
    margin: 0px 10px 10px 10px;
    opacity: 0.8;
  }

  aside {
    position: fixed;
    margin-top: 80px;
    width: 200px;
    height: 200px;
    overflow-y: auto;

  }

  div {
    margin-left: 200px;
    margin-top: 100px;
  }

footer {
  top: 100px;
}


  </style>



</head>
<body  ng-controller='myCtrl'>
<header>
<p>{{path}}dddddddddddddd</p>
<p>ddddddddddddddddddddddddddddddddddddd</p>
<p>ddddddddddddddddddddddddddddddddddddd</p>
<p>ddddddddddddddddddddddddddddddddddddd</p>

</header>


<aside >
<p><a href="/view/testA">AAAAAAAAAAAAAAA</a></p>
<p><a href="/view/testB">BBBBBBBBBBBBBBB</a></p>
<p><a href="/view/testA">AAAAAAAAAAAAAAA</a></p>
<p><a href="/view/testB">BBBBBBBBBBBBBBB</a></p>
<p><a href="/view/testA">AAAAAAAAAAAAAAA</a></p>
<p><a href="/view/testB">BBBBBBBBBBBBBBB</a></p>
<p><a href="/view/testA">AAAAAAAAAAAAAAA</a></p>
<p><a href="/view/testB">BBBBBBBBBBBBBBB</a></p>
<p><a href="/view/testA">AAAAAAAAAAAAAAA</a></p>
<p><a href="/view/testB">BBBBBBBBBBBBBBB</a></p>
<p><a href="/view/testA">AAAAAAAAAAAAAAA</a></p>
<p><a href="/view/testB">BBBBBBBBBBBBBBB</a></p>
</aside>

<div ng-include="partialPath"> </div>


<footer>
  <p>oooooooooooooooooooooooooooooooo</p>
  <p>oooooooooooooooooooooooooooooooo</p>
  <p>oooooooooooooooooooooooooooooooo</p>
  <p>oooooooooooooooooooooooooooooooo</p>
</footer>


<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-route.js"></script>

<script>

var myApp = angular.module('myApp',['ngRoute']);


myApp.config(['$locationProvider',function($locationProvider) {
  $locationProvider.html5Mode(true).hashPrefix('!');

}]);

myApp.controller('myCtrl', ['$scope','$location', function($scope,$location){
      $scope.partialPath = 'view/testA.html';
      $scope.path = 'aaa'; //$location.path();
  
  $scope.$on('$includeContentLoaded', function() {
    var pagePath = $scope.currentPage ? $scope.currentPage.path : $location.path();
  });

  $scope.$watch(function docsPathWatch() {return $location.path(); }, function docsPathWatchAction(path) {

     $scope.partialPath = $location.path + '.html';
    

  });

}]);


// myApp.controller('myCtrl', ['$scope', function($scope){
  
//   $scope.$on('$includeContentLoaded', function() {
//     var pagePath = $scope.currentPage ? $scope.currentPage.path : $location.path();
//     $window._gaq.push(['_trackPageview', pagePath]);
//   });

//   $scope.$watch(function docsPathWatch() {return $location.path(); }, function docsPathWatchAction(path) {

//     path = path.replace(/^\/?(.+?)(\/index)?\/?$/, '$1');

//     currentPage = $scope.currentPage = NG_PAGES[path];

//     if ( currentPage ) {
//       $scope.partialPath = 'partials/' + path + '.html';
//       $scope.currentArea = NG_NAVIGATION[currentPage.area];
//       var pathParts = currentPage.path.split('/');
//       var breadcrumb = $scope.breadcrumb = [];
//       var breadcrumbPath = '';
//       angular.forEach(pathParts, function(part) {
//         breadcrumbPath += part;
//         breadcrumb.push({ name: (NG_PAGES[breadcrumbPath]&&NG_PAGES[breadcrumbPath].name) || part, url: breadcrumbPath });
//         breadcrumbPath += '/';
//       });
//     } else {
//       $scope.currentArea = NG_NAVIGATION['api'];
//       $scope.breadcrumb = [];
//       $scope.partialPath = 'Error404.html';
//     }
//   });

// }])




  


</script>
</body>
</html>